.CodeMirror {
  height: auto;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cm-matchhighlight {
  border: 1px solid pink;
  margin: -1px;
}

.CodeMirror-matchingbracket {
  color: black;
  border-bottom: 1px solid pink;
}

.cm-activeline-background {
  background: pink;
}

.CodeMirror-activeline-background {
  background-color: pink;
}
